* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  
}

form {
    padding: 20px 30px;
    border-radius: 8px;
}
table {
    width: 100%;
    min-width: 600px;
}
td {
    padding: 12px 10px;
    border: 1px solid black;
    text-align: left;
}



